*{
    background-color: aqua;
}
button{
    width: 200px;
    height: 100px;
    background-color: orange;
}
.main-container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto auto auto;
    gap: 5px;
}
.square{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: solid 1px black;
}